parameters:
    level: 5
    paths:
        - src/
    excludePaths:
        - src/Views
    ignoreErrors:
        # Ignore errors for Twig templates
        - '#Call to an undefined method.*Twig#'
        # Ignore errors for dynamic properties in models
        - '#Access to an undefined property.*::\$#'
    reportUnmatchedIgnoredErrors: false